*{margin: 0; padding: 0;}
body{
    background-color: #EEE8AE;
}
#wrapper{
    width: 960px;
    margin: 20px auto;
}
#header{
    background-color: #FAB72A;
    padding: 15px;
    border-bottom: 5px solid #6B710E;
}
#header h2{
    color: #FFFFF1;
    font-family: arial;
}
#header p{
    color: #988420;
    font-family: arial;
}
#nav{
    background-color: #FFFFFF;
    border-bottom: 5px solid #6B710E;
    height: 38px;
}
#nav ul{
    z-index: 999;
    list-style-type: none;
    background-color: #FFFFFF;
}
#nav ul li{
    float: left;
    border-right: 1px solid #6B710E;
    position: relative;
}
#nav ul li:last-child{
    border-right: none;
}
#nav ul li a{
    text-decoration: none;
    color: #7A7F25;
    display: block;
    padding: 10px 20px;
}
#nav ul li a:hover{
    color: #fff;
    background-color: #6B710E;
}
#nav ul li ul{
    position: absolute;
    left: -99999px;
    background: #FFFFFF;
    border-top: 5px solid #6B710E;
}
#nav ul li:hover ul{
    left: 0;
}
#nav ul li ul li{
    float: none;
    border-right: none;
    border-bottom: 1px solid #6B710E;
    width: 200px;
}
#slider_wrap{}
#content_wrapper{
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 10px 15px;
}
#content{
    float: left;
    width: 580px;
    margin-right: 50px;
}
.single_post{}
.single_post h2{
    color: #6B710E;
    font-weight: bold;
    margin: 15px 0;
}
.single_post .imgp{
    
}
.imgp img{
    width: 100px;
    height: 100px;
}
.imgp p{
    text-align: justify;
}
#sidebar{
    float: left;
    width: 300px;
}
#sidebar h2{
    color: #6B710E;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}
#sidebar ul{
    list-style: none;
}
#sidebar ul li a{
    text-decoration: none;
    color: #6B7139;
    padding: 3px;
    display: block;
}
#footer p{
    background-color: #635548;
    padding: 10px;
    text-align: center;    
}
#footer p{

    color: #FFFFFF;
}