p{
    font-weight:bold;
    font-family: Arial ;
    font-style: italic;
    font-size: 50px;
    /*font-variant: small-caps;*/
    text-transform: uppercase;

}
.orange{
    color: orange;
}
.blue{
    color: blue;
}
#green{
	color:#5489BD;
}
.bold{
    font-weight: bold;
}
span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
body{
    background-image: url("img/flower.jpg");
    background-size: cover;
}
/*
background-repeat:repeat-x;
background-repeat:repeat-y;
background-size:cover;
background-size:250px 150px;
*/