p{
    font-weight:bold;
    font-family: Arial ;
    font-style: italic;
    font-size: 14px;
    /*font-variant: small-caps;*/
    text-transform: uppercase;

}
.orange{
    color: orange;
}
.blue{
    color: blue;
}
#green{
	color:#5489BD;
}
.bold{
    font-weight: bold;
}
span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
body{
    background-image: url("img/flower.jpg");
    background-size: cover;
}
/*
background-repeat:repeat-x;
background-repeat:repeat-y;
background-size:cover;
background-size:250px 150px;
*/
/* table */
table{
    width: 650px;
    text-align: center;
    margin: 50px auto;
    background-color: #ddd;
}
table, td, th{
    border-collapse: collapse;
    border: 2px solid black;
}
.head{
    background-color: indigo;
}
.table-left{
    text-align: left;
}
.abdul{
    background-color: khaki;
}
table caption{
    background-color:#ddd;
}
/* div */
.mydiv1{
    width: 300px;
    height: 300px;
    background-color: blueviolet;

    margin-top: 50px;
    margin-left: 50px;
    padding: 5px 10px 15px 20px;
}
.mydiv2{
    width: 300px;
    height: 300px;
    background-color: chartreuse;

    margin-top: 50px;
    margin-left: 50px;
}
 /*********/
 #wrapper p{
     color: chocolate;
     font-size: 20px;
 }
 /*
 #wrapper>p{
     color: chocolate;

 }*/
 #overflow p{
    width: 500px;
    height: 150px;
    border: 1px solid rgb(20, 65, 110);
    overflow: scroll;
 }
 #overflow p span{
     background-color: cadetblue;
     display: block;
 }
 /* float */
 .block1{
     width: 200px;
     height: 200px;
     background-color: chartreuse;
     float: left;
     margin-right: 15px;
 }
 .block2{
     width: 200px;
     height: 200px;
     background-color: cyan;
     float: right;
 }