*{margin: 0;padding: 0;}
p{
    font-weight:bold;
    font-family: Arial ;
    font-style: italic;
    font-size: 14px;
    /*font-variant: small-caps;*/
    text-transform: uppercase;

}
.orange{
    color: orange;
}
.blue{
    color: blue;
}
#green{
	color:#5489BD;
}
.bold{
    font-weight: bold;
}
span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
body{
    background-image: url("img/flower.jpg");
    background-repeat: no-repeat;
    background-size: 1265px 910px;
    background-attachment: fixed;
}
.bg{
    background-image: url("img/flower.jpg");
    background-size: cover;
}
/*
background-repeat:repeat-x;
background-repeat:repeat-y;
background-size:cover;
background-size:250px 150px;
*/
/* table */
table{
    width: 650px;
    text-align: center;
    margin: 50px auto;
    background-color: #ddd;
}
table, td, th{
    border-collapse: collapse;
    border: 2px solid black;
}
.head{
    background-color: indigo;
}
.table-left{
    text-align: left;
}
.abdul{
    background-color: khaki;
}
table caption{
    background-color:#ddd;
}
/* div */
.mydiv1{
    width: 300px;
    height: 300px;
    background-color: blueviolet;

    margin-top: 50px;
    margin-left: 50px;
    padding: 5px 10px 15px 20px;
}
.mydiv2{
    width: 300px;
    height: 300px;
    background-color: chartreuse;

    margin-top: 50px;
    margin-left: 50px;
}
 /*********/
 #wrapper p{
     color: chocolate;
     font-size: 20px;
 }
 /*
 #wrapper>p{
     color: chocolate;

 }*/
 #overflow p{
    width: 500px;
    height: 150px;
    border: 1px solid rgb(20, 65, 110);
    overflow: scroll;
 }
 #overflow p span{
     background-color: cadetblue;
     display: block;
 }
 /* float */
 .block1{
     width: 200px;
     height: 200px;
     background-color: chartreuse;
     float: left;
     margin-right: 15px;
 }
 .block2{
     width: 200px;
     height: 200px;
     background-color: cyan;
     float: right;
 }
 .height{
     height: 300px;
 }
 .clear{
     clear: both;
 }
.block3{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    background-color: darkorchid;

    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
.block3:hover{
    /*width: 300px;
    height: 300px;*/
    margin-left: 50px;
    background-color: darkslategray;

    /*transform:rotate(360deg);*/
	/*transform:skewX(20deg);*/
    /*transform:skewY(20deg);*/

    transform: scale(1.5,2);
    -webkit-transform: scale(1.5,2);
    -moz-transform: scale(1.5,2);
    -ms-transform: scale(1.5,2);
    -o-transform: scale(1.5,2);
}
/*ul{
    list-style-type: square;
}*/
input[type="text"]{
    width: 150px;
    height: 25px;
    border: 1px solid green;
    border-radius: 5px;
    color: grey;
    font-weight: bold;
}
textarea{
    color: blue;
}
input[type="submit"]{
    width: 81px;
    height: 32px;
    padding: 5px;
    border-radius: 5px;
}
label{
    color: darkorange;
}
/*button*/
.mybtn{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    color: darkturquoise;
    transition: all 1s ease;
}
.mybtn:hover{
    color: forestgreen;
    background: gray;
    cursor: pointer;
}
/*Gradient Property*/
.linear{
    width: 800px;
    height: 150px;

    background: linear-gradient(to right, blue, orange, green, yellow);
    background: -webkit-linear-gradient(right , blue, orange, green, yellow);
    background: -moz-linear-gradient(right , blue, orange, green, yellow);
    background: -ms-linear-gradient(to , blue, orange, green, yellow);
    background: -o-linear-gradient(right , blue, orange, green, yellow);
}
.radial{
    width: 500px;
    height: 500px;

    background: radial-gradient(blue 20%, green 40%, yellow 60%, black 80%, yellow 100% );
    background: -webkit-radial-gradient(blue 20%, green 40%, yellow 60%, black 80%, yellow 100% );
    background: -moz-radial-gradient(blue 20%, green 40%, yellow 60%, black 80%, yellow 100% );
    background: -ms-radial-gradient(blue 20%, green 40%, yellow 60%, black 80%, yellow 100% );
    background: -o-radial-gradient(blue 20%, green 40%, yellow 60%, black 80%, yellow 100% );
}
/*animation*/
.animation{
    width: 150px;
    height: 150px;
    background-color: green;
    position: relative;

    animation: abdul 2s ease 1s infinite alternate none;
    -webkit-animation: abdul 2s ease 1s infinite alternate none;
}

@keyframes abdul{
    from{left: 0;}
    to{left: 200px;}
}
.animation1{
    width: 150px;
    height: 150px;
    background-color: green;
    position: relative;

    animation: abdullah 2s ease 1s infinite normal none;
/*
    animation-direction: alternate;
    animation-direction: reverse;
    animation-direction: inherit;
    animation-direction: normal;
    animation-direction: initial;
*/
}

@keyframes abdullah{
    0%{ left: 0; top: 0; }
    25%{ left: 200px; top: 0; }
    50%{ left: 200px; top: 200px; }
    75%{ left: 0; top: 200px; }
    100%{ left: 0; top: 0; }
}
/*video*/
video{
    width: 1000px;
}
.iframe{
    width: 600px;
    height: 500px;
    border: 2px solid green;
}
/*3 collams*/
#wrap1{
    width: 960px;
    margin: 50px auto;
}
.box {
    width: 300px;
    float: left;
    margin-right: 30px;
}
.nomargn{
    margin-right: 0;
}
.box img{
    width: 300px;
    height: 150px;
}
.box h2{
    color: orange;
}
.box p{
    text-align: justify;
}
.box a{
    text-decoration: none;
    background-color: orange;
    color: red;
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    transition: all 1s ease;
}
.box a:hover{
    background: #000;
    color: #fff;
}
/*menu*/
#menu{
    width: 960px;
    margin: 50px auto;
    list-style-type: none;
    background: black;
    border-bottom: 2px solid orchid;
    min-height: 38px;
}
#menu li{
    float: left;
    border-right: 1px solid green;
    position: relative;
}
#menu li:last-child{
    border-right: none;
}
#menu li a{
    color: #fff;
    text-decoration: none;
    background: black;
    padding: 10px 20px;
    display: block;
    transition: all 0.4s ease;
}
#menu li a:hover{
    background: orange;
}
#menu li ul{
    list-style-type: none;
    position: absolute;
    left: -999999px;
}
#menu li:hover ul{
    left: 0;
}
#menu li ul li{
    float: none;
    border-right: none;
    border-bottom: 1px solid green;
    width: 200px;
}
#menu li ul li:last-child{
    border-bottom: none;
}